{% extends 'base.html'%}
{% load souche_filters %}
{% block title %}车源详情{% endblock %}

{% block ext_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}plugins/flexslider.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/car_info.css" />
{% endblock %}

{% block content %}
<div class="content">
	<div class="main">
		<!--信息概括 begin-->
		<div class="car-info">
			<div class="survey">
				<div class="car-img-content fl">
					<div class="current-img flexslider">
						<ul class="slides">
							{% for image in car.image_urls %}
							<li>
							 	<img src="{{ image }}" alt="搜车啦 {{ car.title }} 图片"/>
							</li>
							{% endfor %}
						 </ul>
					</div>
					
					<div class="grade tac">{{ car.condition_level|default:"B" }}</div>
				</div>
				<!--概况 begin-->
				<div class="car-surver-content fl">
					<div class="car-title tac">
						<h4>{{ car.title }}</h4>
					</div>
					
					<div class="price-info">
						<div class="price fl tac f-tangerine">
							<h4>￥<strong>{{ car.price|floatformat:"2" }}</strong>万</h4>
						</div>
						<div class="fl tal price-description">
							<p class="f-orange">为您节省：{{ car.save_money }}万</p>
							<p>新车价：{{ car.price_bn|floatformat:"1"  }}万+{{ car.tax }}万（购置税）</p>
						</div>
					</div>
					
					<div class="evaluate-price">
						<span class="f-bright-red price-range"><i></i>100.00万-125.00万</span>
						<span class="f-dark-gray">公平价估值区间</span>
					</div>
					
					<div class="base-info">
						<ul>
							<li>
								<p class="f-gray">上牌时间</p>
								<p>{{ car.year }}/{{ car.month }}</p>
							</li>
							<li>
								<p class="f-gray">行驶里程</p>
								<p>{{ car.mile|floatformat:"1" }}万公里</p>
							</li>
							<li>
								<p class="f-gray">变速箱</p>
								<p>{{ car.control }}</p>
							</li>
							<li>
								<p class="f-gray">归属地</p>
								<p>{{ car.city }}</p>
							</li>
						</ul>
						
						<div class="clear"></div>
					</div>
					
					<div class="dealer-info f-gray">
						<div class="fl dealer-name tar">
							<p>商家</p>
							<p>{{ car.company_name }}</p>
						</div>
						
						<div class="contact-dealer fl tal">
							<p class="phone"><i></i>{{ car.phone }}</p>
							<p class="address"><i></i>看车地点：{{ car.region }}</p>
						</div>
						
						<div class="clear"></div>
					</div>
				</div>
				<!--概况 begin-->
				<div class="clear"></div>
			</div>
			<!--商家保障 begin-->
			<div class="security">
				<div class="security_1">
					<i></i>
					<div class="security-info">
						<h4>无事故车</h4>
						<p>100%确保无事故车、无水进车、无火烧车！</p>
					</div>
				</div>
				<div class="security_2">
					<i></i>
					<div class="security-info">
						<h4>无理由退车</h4>
						<p>退货险给你保障：有任何不满意，7天可退货！</p>
					</div>
				</div>
				<div class="security_3">
					<i></i>
					<div class="security-info">
						<h4>免费质保</h4>
						<p>为您提供1年2万公里的免费质保</p>
					</div>
				</div>
				
				<div class="clear"></div>
			</div>
			<!--商家保障 end-->
		</div>
		<!--信息概括 begin-->
		<div class="base-info">
			<div class="nav tac">
				<ul>
					<li class="focus"><a href="#">基本信息</a></li>
					<li><a href="#">价格分析</a></li>
					<li><a href="#">配置参数</a></li>
					<li><a href="#">商家地址</a></li>
					<li><a class="lasta" href="#">车辆图片</a></li>
					<li class="last"></li>
				</ul>
			</div>
			
			<div class="clear"></div>
			<!--基本信息 begin-->
			<div class="base-content">
				<div class="grade fl">
					<div class="grade-content">
						<div class="level f-white tac">{{ car.condition_level|default:"合" }}</div>
						<p class="tac f-gray">{{ car.company_name }}综合评定：<span class="f-lake-blue">{% if car.condition_level %}{{ car.condition_level }}级{% else %}合格{% endif %}</span></p>
					</div>
				</div>
				
				<div class="grade-desc fl f-dark-gray">
					<p>质检时间：{{ car.time|date:"Y-m-d" }}</p>
					
					<div class="grade-comment">
						<p><strong>车况点评：</strong></p>
						<p>
						{{ car.condition_detail }}
						</p>
					</div>
				</div>
				
				<div class="grade-data fl">
					<table>
						<tr>
							<td>上次上牌时间：</td>
							<td>{{ car.year }}年{{ car.month }}月（7年车龄）</td>
						</tr>
						<tr>
							<td>交强险到期时间：</td>
							<td>{{ car.mandatory_insurance|year_month_zh }}</td>
						</tr>
						<tr>
							<td>年检到期时间：</td>
							<td>{{ car.examine_insurance|year_month_zh }}</td>
						</tr>
						<tr>
							<td>商业险到期时间：</td>
							<td>{{ car.business_insurance|year_month_zh }}</td>
						</tr>
						<tr>
							<td>过户次数：</td>
							<td>{% if car.transfer_owner == 0 %}{{ car.transfer_owner }}{% else %}{{ car.transfer_owner|default:"--" }}{% endif %}</td>
						</tr>
						<tr>
							<td>购车发票：</td>
							<td>{{ car.invoice|default:"--" }}</td>
						</tr>
					</table>
				</div>
				
				<div class="clear"></div>
			</div>
			<!--基本信息 end-->
		</div>
		
		<div class="price-analysis info">
			<div class="i-title">价格分析</div>
			<div class="analysis-content">
				<div class="analysis-diagram fl">
					<div class="diagram">
						<div class="evaluate-range f-lake-blue tac">￥10.3万-￥20.6万</div>
						
						<div class="total-cost f-light-green tac">￥{{ car.total_cost }}万</div>
						
						<div class="mark f-orange tac">
							<div class="current-point">￥{{ car.price }}万</div>
							
							<div class="rate-discount f-gray"><i></i>折价率：{{ car.discount_rate }}%</div>
						</div>
					</div>
				</div>
				
				<div class="analysis-info fl">
					<p>
						销售价格：<span class="f-orange">￥<strong class="f-tangerine">{{ car.price }}</strong>万</span>
					</p>
					<p>新车总成本：{{ car.price_bn|floatformat:"1" }}万+{{ car.tax }}万（购置税）</p>
					<p class="f-orange">省：{{ car.save_money }}万</p>
				</div>
				
				<div class="clear"></div>
			</div>
			
		</div>
		
		<div class="config-info info">
			<div class="i-title">配置</div>
			<div class="legend f-gray" >
				<dl>
					<dt>图示说明：</dt>
					<dd>
						<i class="b-lake-blue"></i>
						<span class="f-lake-blue">标配</span>
						表示车辆标准配置
					</dd>
					<dd>
						<i class="b-orange"></i>
						<span class="f-orange">选配</span>
						表示您在购车时可以选购此项配置
					</dd>
				</dl>
				
				<div class="clear"></div>
			</div>
			
			<div class="config-data">
				{% for config in configs %}
				<table>
					<tr>
						<td colspan="2" class="t-title">{{ config.para_cat }}</td>
					</tr>
					{% for k, v in config.items %}
					{% if k != "para_cat" %}
					<tr>
						<td class="title">{{ k }}</td>
						<td><span class="{{ v|car_config_css }}">{{ v|car_config_value }}</span></td>
					</tr>
					{% endif %}
					{% endfor %}
				</table>
				{% if forloop.counter|divisibleby:"3" %}
				<div class="clear"></div>
				{% endif %}
				{% endfor %}
				<div class="clear"></div>
			</div>
			
			<div class="i-title">参数</div>
			
			<div class="config-data">
				{% for para in params %}
				<table>
					<tr>
						<td colspan="2" class="t-title">{{ para.para_cat }}</td>
					</tr>
					{% for k, v in para.items %}
					{% if k != "para_cat" %}
					<tr>
						<td class="title">{{ k }}</td>
						<td>{{ v }}</td>
					</tr>
					{% endif %}
					{% endfor %}
				</table>
				{% if forloop.counter|divisibleby:"4" %}
				<div class="clear"></div>
				{% endif %}
				{% endfor %}
				<div class="clear"></div>
			</div>
		</div>
		
		<div class="dealer-address info">
			<div class="i-title">商家地址</div>
			
			<div class="dealer-address-content">
				<div class="dealer-ico fl"><img src="http://bj.haoche51.com/img/logo.png" alt="好车无忧" /></div>
				<div class="dealer-address-info fl">
					<ul>
						<li>公司邮箱：contact@haoche51.com</li>
						<li>联系电话：{{ car.phone }}</li>
						<li>网址：{{ car.company_url }}</li>
						<li>公司地址：{{ car.region }}</li>
					</ul>
				</div>
				
				<div class="clear"></div>
			</div>
		</div>
		
		<div class="recommend-list info">
			<div class="i-title">看过的人又看了</div>
			
			<div class="recommend-content">
				<ul>
					{% for re_car in re_cars %}
					<li>
						<div class="car-img"><img src="{{ IMG_URL }}{{ re_car.thumbnail }}" alt="搜车啦 {{ re_car.title }}图片"/></div>

						<div class="car-name"><a href="{{ re_car.get_absolute_url }}" target="_blank">{{ re_car.title }}</a></div>
						
						<div class="car-price f-orange">
							<span class="price">￥<strong class="tangerine">{{ re_car.price }}</strong>万</span>
							{% if re_car.total_cost %}
							<span class="f-gray">新车价<del>￥{{ re_car.total_cost }}万</del></span>
							{% endif %}
						</div>
						
						<div class="introduction">
							<span>{{ re_car.year }}/{{ re_car.month }}上牌</span>
							<span>{{ re_car.mile }}万公里</span>
							<span class="last">{{ re_car.control }}</span>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
			
			<div class="clear"></div>
		</div>
	</div>
</div>
{% endblock %}

{% block ext_js %}
<script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery.flexslider-min.js"></script>
<script type="text/javascript">
$(window).load(function() {
	$('.flexslider').flexslider({
		animation: "slide",
	});
});
</script>
{% endblock %}