<html>
	<head>
	<title>我的对比车辆</title>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/compare_preview.css">
	</head>
	<body>
		<div class="header">
			{% if car_amount > 1 %}
			<div class="fr compare-btn tac"><a href="{% url car_contrast_detail %}" target="_blank">开始对比</a></div>
			{% endif %}
			<div class="fr"><a href="javascript:;" id="empty-compare">清空对比车辆</a></div>
			<div class="clear"></div>
		</div>
		<div class="content">
			{% for car in contrast_cars %}
				<div id="{{ car.pk }}" class="contrast-box">
					<div class="car-list">
						<div class="car-pic">
							<a href="{% url car_detail car.pk %}" target="_blank"><img src="{{ IMG_URL }}{{ car.thumbnail }}?imageView2/1/w/240"alt="{{ car.tilte }}图片"></a>
						</div>
						<div class="car-name">
							<a title="{{ car.title }}" href="{% url car_detail car.pk %}" target="_blank">{{ car.title }}</a>
						</div>
						<div class="car-btn-ground">
							<div class="fl">
								<span class="f-orange">{{ car.price|floatformat:"2" }}万元</span>
							</div>
							
							<div class="fr">
								<a href="javascript:;" class="delete-compare">删除</a>
							</div>
							
							<div class="clear"></div>
						</div>
					</div>
				</div>
			{% endfor %}
			{% for num in empty_cars %}
			<div class="contrast-box">
				<div class="empty_cars">
					<div class="contrast-num">{{ num }}</div>
					<div class="contrast-title">您还可以继续添加</div>
				</div>
			</div>
			{% endfor %}
		</div>
		
		{% csrf_token %}
	</body>
	
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/class/layer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/class/debug.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/compare.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/compare_preview.js"></script>
</html>

