{% extends 'base.html'%}
{% load souche_filters %}
{% block title %}车源详情{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}plugins/flexslider.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/car_info.css" />
{% endblock %}

{% block content %}
<div class="content">
	<div class="main" id="{{ car.pk }}">
		<!--信息概括 begin-->
		<div class="car-info">
			<div class="survey">
				<div class="car-img-content fl">
					<div class="current-img flexslider">
						<ul class="slides">
							{% for image in car.image_urls %}
							<li>
							 	<img src="{{ image }}" alt="搜车啦 {{ car.title }} 图片"/>
							</li>
							{% endfor %}
						 </ul>
					</div>
					
					<div class="grade tac">{{ car.condition_level|default:"合" }}</div>
				</div>
				<!--概况 begin-->
				<div class="car-surver-content fl">
					<div class="car-title tac">
						<h4>{{ car.title }}</h4>
					</div>
					
					<div class="price-info">
						<div class="price fl tac f-tangerine">
							<h4>￥<strong id="car-price">{{ car.price|floatformat:"2" }}</strong>万</h4>
						</div>
						<div class="fl tal price-description">
							<p class="f-orange">为您节省：{{ car.save_money }}万</p>
							<p>新车价：{{ car.price_bn|floatformat:"1"  }}万+{{ car.tax }}万（购置税）</p>
						</div>
					</div>
					
					<div class="evaluate-price">
						<span class="f-bright-red price-range fl">
							<i class="fl"></i>
							<a id="eval-range" href="#" target="_blank" class="fl"></a>
							<div class="clear"></div>
						</span>
						
						<span class="f-dark-gray fl">公平价估值区间</span>
						
						<div class="clear"></div>
					</div>
					
					<div id="load-in-info"><img src="{{ STATIC_URL }}image/evaluate_load_1.gif" alt="" /></div>
					
					<div class="base-info">
						<ul>
							<li>
								<p class="f-gray">上牌时间</p>
								<p>{{ car.year }}/{{ car.month }}</p>
							</li>
							<li>
								<p class="f-gray">行驶里程</p>
								<p>{{ car.mile|floatformat:"1" }}万公里</p>
							</li>
							<li>
								<p class="f-gray">变速箱</p>
								<p>{{ car.control }}</p>
							</li>
							{% if car.emission_standard %}
							<li>
								<p class="f-gray">排放标准</p>
								<p>{{ car.emission_standard }}</p>
							</li>
							{% endif %}
							<li>
								<p class="f-gray">归属地</p>
								<p>{{ car.city }}</p>
							</li>
						</ul>
						
						<div class="clear"></div>
					</div>
					
					<div class="dealer-info f-gray">
						<div class="fl dealer-name tar">
							<div id="appointment" class="appointment-btn tac">预约看车</div>
						</div>
						
						<div class="contact-dealer fl tal">
							<p>商家</p>
							<p><strong class="f-dark">{{ car.company_name }}</strong></p>
						</div>
						
						<div class="clear"></div>
					</div>
					<div class="page-op">
						<div class="share fl">
							<!-- Baidu Button BEGIN -->
							<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
							<span class="bds_more">分享到：</span>
							<a class="bds_renren"></a>
							<a class="bds_qzone"></a>
							<a class="bds_tsina"></a>
							<a class="bds_tqq"></a>
							</div>
							<script type="text/javascript" id="bdshare_js" data="type=tools&uid=636341" ></script>
							<script type="text/javascript" id="bdshell_js"></script>
							<script type="text/javascript">
							document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
							</script>
							<!-- Baidu Button END -->
							<div class="clear"></div>
						</div>
						
						<div id="select-contrast" class="add-contrast fl f-dark-gray"><span></span>加入对比</div>
						
						<div class="clear"></div>
						
						<div id="contrast-mark" class="mark" {% if car.in_contrast %}style="display:block;"{% endif %}></div>
					</div>
				</div>
				<!--概况 begin-->
				<div class="clear"></div>
			</div>
			<!--商家保障 begin-->
			<div class="security">
				<div class="security_1">
					<i></i>
					<div class="security-info">
						<h4>无事故车</h4>
						<p>100%确保无事故车、无水进车、无火烧车！</p>
					</div>
				</div>
				<div class="security_2">
					<i></i>
					<div class="security-info">
						<h4>无理由退车</h4>
						<p>退货险给你保障：有任何不满意，7天可退货！</p>
					</div>
				</div>
				<div class="security_3">
					<i></i>
					<div class="security-info">
						<h4>免费质保</h4>
						<p>为您提供1年2万公里的免费质保</p>
					</div>
				</div>
				
				<div class="clear"></div>
			</div>
			<!--商家保障 end-->
		</div>
		<!--信息概括 begin-->
		<div class="base-info">
			<div class="nav tac">
				<ul>
					<li class="nav-btn focus"><a href="#base-content">基本信息</a></li>
					<li class="nav-btn"><a href="#price-analysis">价格分析</a></li>
					<li class="nav-btn"><a href="#config-info">配置参数</a></li>
					<li class="nav-btn"><a href="#dealer-address">商家地址</a></li>
					<li class="nav-btn"><a class="lasta" href="#car-img-list">车辆图片</a></li>
					<li class="last"></li>
				</ul>
				
				<div class="clear"></div>
			</div>
			
			<div class="clear"></div>
			<!--基本信息 begin-->
			<div id="base-content" class="base-content">
				<div class="grade fl">
					<div class="grade-content">
						<div class="level f-white tac">{{ car.condition_level|default:"合" }}</div>
						<p class="tac f-gray">{{ car.company_name }}综合评定：<span class="f-lake-blue">{% if car.condition_level %}{{ car.condition_level }}级{% else %}合格{% endif %}</span></p>
					</div>
				</div>
				
				<div class="grade-desc fl f-dark-gray">
					<p>质检时间：{{ car.time|date:"Y-m-d" }}</p>
					
					<div class="grade-comment">
						<p><strong>车况点评：</strong></p>
						<p>
						{{ car.condition_detail }}
						</p>
					</div>
				</div>
				
				<div class="grade-data fl">
					<table>
						<tr>
							<td>首次上牌时间：</td>
							<td>{{ car.year }}年{{ car.month }}月（{{ car.age }}车龄）</td>
						</tr>
						<tr>
							<td>年检到期时间：</td>
							<td>{{ car.examine_insurance|year_month_zh }}</td>
						</tr>
						<tr>
							<td>交强险到期时间：</td>
							<td>
								{{ car.mandatory_insurance|year_month_zh }}
								<i id="mandatory" class="show-tip"></i>
							</td>
						</tr>
						<tr>
							<td>商业险到期时间：</td>
							<td>
								{{ car.business_insurance|year_month_zh }}
								<i id="business" class="show-tip"></i>
							</td>
						</tr>
						<tr>
							<td>过户次数：</td>
							<td>
								{% if car.transfer_owner == 0 %}{{ car.transfer_owner }}{% else %}{{ car.transfer_owner|default:"--" }}{% endif %}
								<i id="transfer" class="show-tip"></i>
							</td>
						</tr>
						<tr>
							<td>购车发票：</td>
							<td>{{ car.invoice|default:"--" }}</td>
						</tr>
					</table>
					<!--tips begin-->
					<div id="mandatory-tip" class="tip">
						<i></i>
						<div class="tip-box">
							<h2>交强险为强制责任保险。</h2>
							<ul>
								<li>车辆过户后，需车辆交易双方共同去保险公司营业厅，同商业险一起办理保险过户。</li>
								<li>交强险基础保费950元 (会根据上一年出险情况浮动)。</li>
							</ul>
						</div>
					</div>
					
					<div id="business-tip" class="tip">
						<i></i>
						<div class="tip-box">
							<h2>商业险包括车损险，第三者责任险等。</h2>
							<p>商业险处理方式有两种：</p>
							<ul>
								<li>原车主申请退保，新车主重新购买。</li>
								<li>商业险过户，需车辆交易双方共同去保险公司营业厅办理。</li>
							</ul>
						</div>
					</div>
					
					<div id="transfer-tip" class="tip">
						<i></i>
						<div class="tip-box">
							<ul>
								<li><strong>0</strong><strong class="split">-</strong>代表为个人一手车，即车主在4S店或经销商处直接购买的新车</li>
								<li><strong>大于0</strong><strong class="split">-</strong>代表为车主也是购买的二手车，或其他原因导致的转让</li>
							</ul>
						</div>
					</div>
					<!--tips end-->
				</div>
				
				<div class="clear"></div>
			</div>
			<!--基本信息 end-->
		</div>
		<!-- 价格分析 begin -->
		<div id="price-analysis" class="price-analysis info">
			<div class="i-title">价格分析</div>
			<div class="analysis-content">
				<div class="analysis-diagram fl">
					<div id="diagram-bg" class="diagram-loading">
						<div class="evaluate-range f-lake-blue tac" id="eval-range-report"></div>
						
						<div class="total-cost f-light-green tac">￥{{ car.total_cost }}万</div>
						
						<div class="mark f-orange tac">
							<div class="current-point" id="list-price">
								￥{{ car.price }}万
								<div class="rate-discount f-gray"><i></i>折价率：{{ car.discount_rate }}%</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="analysis-info fl">
					<p>
						销售价格：<span class="f-orange">￥<strong class="f-tangerine">{{ car.price }}</strong>万</span>
					</p>
					<p>新车总成本：{{ car.price_bn|floatformat:"1" }}万+{{ car.tax }}万（购置税）</p>
					<p class="f-orange">省：{{ car.save_money }}万</p>
				</div>
				
				<div class="clear"></div>
			</div>
				
			<div id="evalua-load-in-diagram"><img src="{{ STATIC_URL }}image/evaluate_load_2.gif" alt="" ></div>
		</div>
		<!-- 价格分析 end -->
		<!-- 配置&参数 begin -->
		<div id="config-info" class="config-info info">
			<!-- 参数 begin -->
			<div class="i-title">参数</div>
			
			<div class="config-data">
				{% for para in params %}
				<table>
					<tr>
						<td colspan="2" class="t-title">{{ para.para_cat }}</td>
					</tr>
					{% for k, v in para.items %}
					{% if k != "para_cat" %}
					<tr>
						<td class="title">{{ k }}</td>
						<td>{{ v }}</td>
					</tr>
					{% endif %}
					{% endfor %}
				</table>
				{% if forloop.counter|divisibleby:"4" %}
				<div class="clear"></div>
				{% endif %}
				{% endfor %}
				<div class="clear"></div>
			</div>
			<!-- 参数 end -->
			<!-- 配置 begin -->
			<div class="i-title">配置</div>
			<div class="legend f-gray" >
				<dl>
					<dt>图示说明：</dt>
					<dd>
						<i class="b-lake-blue"></i>
						<span class="f-lake-blue">标配</span>
						表示车辆标准配置
					</dd>
					<dd>
						<i class="b-orange"></i>
						<span class="f-orange">选配</span>
						表示您在购车时可以选购此项配置
					</dd>
				</dl>
				
				<div class="clear"></div>
			</div>
			<div class="config-data">
				{% for config in configs %}
				<table>
					<tr>
						<td colspan="2" class="t-title">{{ config.para_cat }}</td>
					</tr>
					{% for k, v in config.items %}
					{% if k != "para_cat" %}
					<tr>
						<td class="title">{{ k }}</td>
						<td><span class="{{ v|car_config_css }}">{{ v|car_config_value }}</span></td>
					</tr>
					{% endif %}
					{% endfor %}
				</table>
				{% if forloop.counter|divisibleby:"3" %}
				<div class="clear"></div>
				{% endif %}
				{% endfor %}
				<div class="clear"></div>
			</div>
			<!-- 配置 end -->
		</div>
		<!-- 配置&参数 end -->
		<!-- 商家地址 begin -->
		<div id="dealer-address" class="dealer-address info">
			<div class="i-title">商家地址</div>
			
			<div class="dealer-address-content">
				<div class="dealer-ico fl"><img src="http://bj.haoche51.com/img/logo.png" alt="好车无忧" /></div>
				<div class="dealer-address-info fl">
					<ul>
						<li>公司邮箱：contact@haoche51.com</li>
						<li>联系电话：{{ car.phone }}</li>
						<li>网址：{{ car.company_url }}</li>
						<li>公司地址：{{ car.region }}</li>
					</ul>
				</div>
				
				<div class="clear"></div>
			</div>
		</div>
		<!-- 商家地址 end -->
		<!-- 图片列表 begin -->
		<div id="car-img-list" class="car-img-list info">
			<div class="i-title">车辆图片</div>
			
			<div class="dealer-address-content">
				<ul>
				{% for image in car.image_urls %}
				<li>
				 	<img src="{{ image }}" alt="搜车啦 {{ car.title }} 图片"/>
				</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<!-- 图片列表 end -->
		{% if re_cars %}
		<div class="recommend-list info">
			<div class="i-title">看过的人又看了</div>
			
			<div class="recommend-content">
				<ul>
					{% for re_car in re_cars %}
					<li>
						<div class="car-img"><img src="{{ IMG_URL }}{{ re_car.thumbnail }}" alt="搜车啦 {{ re_car.title }}图片"/></div>

						<div class="car-name"><a href="{% url car_detail re_car.pk %}" target="_blank">{{ re_car.title }}</a></div>
						
						<div class="car-price f-orange">
							<span class="price">￥<strong class="tangerine">{{ re_car.price }}</strong>万</span>
							{% if re_car.total_cost %}
							<span class="f-gray sale">新车价<del>￥{{ re_car.total_cost }}万</del></span>
							{% endif %}
						</div>
						
						<div class="introduction">
							<span>{{ re_car.year }}/{{ re_car.month }}上牌</span>
							<span>{{ re_car.mile }}万公里</span>
							<span class="last">{{ re_car.control }}</span>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
			
			<div class="clear"></div>
		</div>
		{% endif %}
		<div class="car-data">
			<input type="hidden" id="eval-api" value="{{ EVAL_API_URL }}"/>
			<input type="hidden" id="brand" value="{{ car.brand_slug }}"/>
			<input type="hidden" id="model" value="{{ car.model_slug }}"/>
			<input type="hidden" id="detail-model" value="{{ car.detail_model.slug }}"/>
			<input type="hidden" id="volume" value="{{ car.volume }}"/>
			<input type="hidden" id="year" value="{{ car.year }}"/>
			<input type="hidden" id="month" value="{{ car.month }}"/>
			<input type="hidden" id="mile" value="{{ car.mile|floatformat:"1" }}"/>
			<input type="hidden" id="color" value="{{ car.color }}"/>
			<input type="hidden" id="city" value="{{ car.city }}"/>
			<input type="hidden" id="condition" value="{{ car.condition }}"/>
		</div>
	</div>
		
	<div id="order" class="order-content">
		<div class="order-title">
			<h4 class="fl">预约看车</h4>
			
			<div id="cancel-order" class="cancel-order fr"></div>
			
			<div class="clear"></div>
		</div>

		<div id="order-form" class="order-form tac">
			<p>留下您的号码，搜车啦客服将会在30分钟内联系</p>
			<input type="text" id="user-phone" value="" />
			<div id="order-submit" class="order-submit">预约</div>
		</div>
		<i class="input-phone"></i>
		<div id="order-success" class="order-success">
			<div class="success-bg"></div>
			<h1>预约成功！</h1>
			<p class="f-gray">搜车啦客服会联系您，与您确定最方便的时间！</p>
		</div>
		
		<div class="error-info"><i></i><span class="f-orange"></span></div>
	</div>
	<div class="modal"></div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/car_info.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/compare.js"></script>
<script type="text/javascript">
$(window).load(function() {
	$('.flexslider').flexslider({
		animation: "slide",
	});
});
</script>
{% endblock %}

