{% extends 'base.html'%}
{% load souche_filters %}

{% block title %}我的对比车辆 个人中心 搜车啦{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/car_contrast.css" />
{% endblock %}

{% block content %}
<div class="content">
	<div class="main">
		<!--标题 begin-->
		<div class="contrast-title">
			<h4 class="fl">车辆对比</h4>
			
			<div class="op-bar fl">
				<div class="check-box" id="irreducible-list">
					<i></i>
					<span>隐藏相同项</span>
				</div>
				<div class="mark"></div>
			</div>
			
			<div class="clear"></div>
		</div>
		<!--标题 end-->
		<!-- 对比参数配置 begin -->
		<div class="contrast-data">
			<div class="base-info">
				<ul class="main-title fl">
					<li class="first-title car-name">
						<i></i>车辆基本信息
					</li>
					<li class="car-pic">车辆图片</li>
					<li class="default">销售价格</li>
					<li class="default">新车价</li>
					<li class="default">为你省了</li>
					<li class="default">公平价估值</li>
					<li class="default">首次上牌</li>
					<li class="default">行驶里程</li>
					<li class="default">排放标准</li>
					<li class="default">年检到期时间</li>
					<li class="default">交强险到期时间</li>
					<li class="default">商业险到期时间</li>
					<li class="default">过户次数</li>
				</ul>
				<input type="hidden" id="eval-api" value="{{ EVAL_API_URL }}"/>
				{% for car in contrast_cars %}
				<ul class="item fl car-data car{{ forloop.counter }}">
					<input type="hidden" name="brand" value="{{ car.brand_slug }}"/>
					<input type="hidden" name="model" value="{{ car.model_slug }}"/>
					<input type="hidden" name="detail-model" value="{{ car.detail_model.slug }}"/>
					<input type="hidden" name="volume" value="{{ car.volume }}"/>
					<input type="hidden" name="year" value="{{ car.year }}"/>
					<input type="hidden" name="month" value="{{ car.month }}"/>
					<input type="hidden" name="mile" value="{{ car.mile|floatformat:"1" }}"/>
					<input type="hidden" name="color" value="{{ car.color }}"/>
					<input type="hidden" name="city" value="{{ car.city }}"/>
					<input type="hidden" name="condition" value="{{ car.condition }}"/>

					<li class="first-title car-name"><a href="{% url car_detail car.pk %}" target="_blank">{{ car.title }}</a></li>
					<li class="car-pic"><img src="{{ IMG_URL }}{{ car.thumbnail }}?imageView/2/w/240" alt="{{ car.title }}" /></li>
					<li class="default gpj-evaluate"><span class="f-orange price">{{ car.price }}</span>万</li>
					<li class="default">{{ car.price_bn }}万+{{ car.tax }}万（购置税）</li>
					<li class="default">{{ car.save_money }}万</li>
					<li class="default evaluate"><a class="eval-price" href="#" target="_blank" class="fl"></a><img class="load-price" src="{{ STATIC_URL }}image/evaluate_load_1.gif" alt="{{ car.title }}" /></li>
					<li class="default">{{ car.year }}年{{ car.month }}月（{{ car.age }}车龄）</li>
					<li class="default">{{ car.mile }}万公里</li>
					<li class="default">{{ car.emission_standard|default:"——" }}</li>
					<li class="default">{{ car.examine_insurance|year_month_zh }}</li>
					<li class="default">{{ car.mandatory_insurance|year_month_zh }}</li>
					<li class="default">{{ car.business_insurance|year_month_zh }}</li>
					<li class="default">{% if car.transfer_owner == 0 %}{{ car.transfer_owner }}{% else %}{{ car.transfer_owner|default:"--" }}{% endif %}</li>
				</ul>
				{% endfor %}
			
				<div class="clear"></div>
			</div>
		<!-- 	<div class="other-info">
				<div class="other-title">
					<i></i>
					<span>基本参数</span>
				</div>
				<div class="other-content">
					<ul class="main-title fl">
						<li class="default">大搜车价</li>
						<li class="default">新车价</li>
						<li class="default">为你省了</li>
						<li class="default">已经优惠</li>
						<li class="default">分期付款</li>
						<li class="default">首次上牌</li>
						<li class="default">行驶里程</li>
					</ul>
					<ul class="item fl">
						<li class="default">大搜车价</li>
						<li class="default">新车价</li>
						<li class="default">为你省了</li>
						<li class="default">已经优惠</li>
						<li class="default">分期付款</li>
						<li class="default">首次上牌</li>
						<li class="default">行驶里程</li>
					</ul>
					<ul class="item fl">
						<li class="default">大搜车价</li>
						<li class="default">新车价</li>
						<li class="default">为你省了</li>
						<li class="default">已经优惠</li>
						<li class="default">分期付款</li>
						<li class="default">首次上牌</li>
						<li class="default">行驶里程</li>
					</ul>
					<ul class="item fl">
						<li class="default">大搜车价</li>
						<li class="default">新车价</li>
						<li class="default">为你省了</li>
						<li class="default">已经优惠</li>
						<li class="default">分期付款</li>
						<li class="default">首次上牌</li>
						<li class="default">行驶里程</li>
					</ul>
					<ul class="item fl">
						<li class="default">大搜车价</li>
						<li class="default">新车价</li>
						<li class="default">为你省了</li>
						<li class="default">已经优惠</li>
						<li class="default">分期付款</li>
						<li class="default">首次上牌</li>
						<li class="default">行驶里程</li>
					</ul>
					
					<div class="clear"></div>
				</div>
			</div> -->
		</div>
		<!-- 对比参数配置 end -->
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/car_contrast.js"></script>
{% endblock %}

