{% extends 'base.html'%}

{% block title %}我的对比车辆 个人中心 搜车啦{% endblock %}


{% block content %}
<div class="content">
	<div class="contrast-title">
		车辆对比
		<input type="checkbox" id="hide-same">
		<label>隐藏相同项</label>
	</div>
	<div class="contrast-table">
		<table class="basic-info">
			<tbody>
				<tr class="car-title">
					<th class="tab-tit">
						<div><span>车辆基本信息</span></div>
					</th>
					{% for car in contrast_cars %}
					<th class="title carname">
						<div>
							<a href="{% url car_detail car.pk %}" target="_blank">{{ car.title }}</a>
						</div>
					</th>
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block extra_js %}

{% endblock %}

