{% extends 'base.html'%}
{% load carmodel_tags souche_tags %}
{% block title %}搜车{% endblock %}

{% block ext_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/pagination.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}plugins/flexslider.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/search_car.css" />
{% endblock %}

{% block content %}
	<div class="content">
		<div class="main">
			<div class="status">
				<h4 class="fl">共有{{ amount }}辆车</h4>
				
				<div class="filter fr">
					<ul>
						<li>默认<i class="default"></i></li>
						<li>价格<i class="default"></i></li>
						<li>里程<i class="default"></i></li>
					</ul>
				</div>
				
				<div class="clear"></div>
			</div>
			
			<div class="main-info">
				<div class="filter-bar fl">
					<dl class="select-brand select-brand-list">
						<dt>
							<span class="fl">品牌</span>
							<span class="fr">
								<a href="javascript:;" id="select-brand-btn">更多<span class="symbol">></span></a>
							</span>
							
							<div class="clear"></div>
						</dt>
						
						<dd>
							<span><a href="{% generate_search_link "brand" DAZHONG %}" title="大众">大众</a></span>
							<span><a href="{% generate_search_link "brand" BENCHI %}" title="奔驰">奔驰</a></span>
							<span><a href="{% generate_search_link "brand" AODI %}" title="奥迪">奥迪</a></span>
							<span><a href="{% generate_search_link "brand" BAOMA %}" title="宝马">宝马</a></span>
						</dd>
						<dd>
							<span><a href="{% generate_search_link "brand" BENTIAN %}" title="本田">本田</a></span>
							<span><a href="{% generate_search_link "brand" FENGTIAN %}" title="丰田">丰田</a></span>
							<span><a href="{% generate_search_link "brand" RICHAN %}" title="日产">日产</a></span>
							<span><a href="{% generate_search_link "brand" MAZIDA %}" title="马自达">马自达</a></span>
						</dd>
						<dd>
							<span><a href="{% generate_search_link "brand" XIANDAI %}" title="现代">现代</a></span>
							<span><a href="{% generate_search_link "brand" LINGMU %}" title="铃木">铃木</a></span>
							<span><a href="{% generate_search_link "brand" BIAOZHI %}" title="标致">标致</a></span>
							<span><a href="{% generate_search_link "brand" XUETIELONG %}" title="雪铁龙">雪铁龙</a></span>
						</dd>
					</dl>
					{% if brand %}
					<dl class="select-slug" style="padding-bottom: 0px;">
						<dt>选择型号</dt>
						<dd>
							<input type="text" id="select-slug" /><i></i>
							<div class="slug-list">
								<dl>
								{% for manufactor, models in model_dic.items %}
									<dt>{{ manufactor }}</dt>
									{% for m in models %}
									<dd><a href="{% generate_search_link "model" m.slug %}" title="{{ m.name }}">{{ m.name }}</a></dd>
									{% endfor %}
								{% endfor %}
								<div class="clear"></div>
								</dl>
							</div>
						<dd>
					</dl>
					{% endif %}
					<dl class="filter-price">
						<dt>
							<span class="fl">价格( 万元 )</span>
							<span class="fr">
								<div class="input-price">
									<input type="text" name="start_price" class="price" value="" />
									<span class="symbol">-</span>
									<input type="text" name="end_price" class="price" value="" /><span class="monetary"></span>
								</div>
								<div class="input-price-bg">
									<p>自定义价格</p>
									<input type="submit" class="submit" value="确定"/>
								</div>
							</span>
							
							<div class="clear"></div>
						</dt>
						
						<dd class="range-price">
							<ul class="price-btn">
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							</ul>
							
							<div class="clear"></div>
							
							<ul class="range-describe">
								<li>0</li>
								<li>5</li>
								<li style="margin-left: 6px;">8</li>
								<li style="margin-left: 6px;">10</li>
								<li style="margin-left: 8px;">15</li>
								<li style="margin-left: 5px;">20</li>
								<li style="margin-left: 6px;">25</li>
								<li style="margin-left: 6px;">30</li>
								<li style="margin-left: -2.4px;">^</li>
							</ul>
							
							<div class="clear"></div>
						</dd>
					</dl>
					<dl class="select-type">
						<dt>
							<span>车型</span>
						</dt>
						
						<dd>
							<span><a href="{% generate_search_link "category" SUV %}">SUV</a></span>
							<span><a href="{% generate_search_link "category" MPV %}">MPV</a></span>
							<span><a href="{% generate_search_link "category" SMALL_CAR %}">微小型车</a></span>
							<span><a href="{% generate_search_link "category" COMPACT_CAR %}">紧凑型车</a></span>
						</dd>
						<dd>
							<span><a href="{% generate_search_link "category" MID_CAR %}">中型车</a></span>
							<span><a href="{% generate_search_link "category" LARGE_CAR %}">中大型车</a></span>
							<span><a href="{% generate_search_link "category" SPORTS_CAR %}">跑车</a></span>
							<span><a href="{% generate_search_link "category" "" %}">不限</a></span>
						</dd>
					</dl>
				
					<dl class="select-color">
						<dt>颜色</dt>
						
						<dd>
							<ul>
								<li><a href="{% generate_search_link "color" "紫色" %}" class="ca" title="紫色"></a></li>
								<li><a href="{% generate_search_link "color" "蓝色" %}" class="cb" title="蓝色"></a></li>
								<li><a href="{% generate_search_link "color" "绿色" %}" class="cc" title="绿色"></a></li>
								<li><a href="{% generate_search_link "color" "黄色" %}" class="cd" title="黄色"></a></li>
								<li><a href="{% generate_search_link "color" "橙色" %}" class="ce" title="橙色"></a></li>
								<li><a href="{% generate_search_link "color" "红色" %}" class="cf" title="红色"></a></li>
								<li><a href="{% generate_search_link "color" "粉红色" %}" class="cg" title="粉红色"></a></li>
								<li><a href="{% generate_search_link "color" "咖啡色" %}" class="ch" title="咖啡色"></a></li>
								<li><a href="{% generate_search_link "color" "香槟色" %}" class="ci" title="香槟色"></a></li>
								<li><a href="{% generate_search_link "color" "白色" %}" class="cj" title="白色"></a></li>
								<li><a href="{% generate_search_link "color" "黑色" %}" class="ck" title="黑色"></a></li>
								<li><a href="{% generate_search_link "color" "深灰色" %}" class="cl" title="深灰色"></a></li>
								<li><a href="{% generate_search_link "color" "银灰色" %}" class="cm" title="银灰色"></a></li>

								<div class="clear"></div>
							</ul>
						</dd>
					</dl>
					
					<dl class="plate-time">
						<dt>上牌时间</dt>
						
						<dd>
							<span id="plate-start-time">
								<input type="text" class="start-time" /><i></i>
							</span>
							
							<span class="symbol">-</span>
							
							<span id="plate-end-time">
								<input type="text" class="end-time" /><i></i>
							</span>
						</dd>
					</dl>
					
					<dl class="mile">
						<dt>里程</dt>
						
						<dd>
							<span>
								<input text="text" id="car-mile" /><i></i>
							</span>
						</dd>
					</dl>
					
					<dl class="volume">
						<dt>变速箱</dt>
						<dd>
							<input text="text" id="car-volume"/><i></i>
						</dd>
					</dl>
					
					<div class="brand-list"></div>
				</div>
				
				<div class="car-list fl">
					{% for car in cars %}
					<div class="car-bar {% if not forloop.counter|divisibleby:"2" %}split{% endif %}">
						<div class="car-img flexslider car{{ forloop.counter }}">
							<ul class="slides">
								{% for image in car.image_urls %}
								<li>
								 	<img src="{{ image }}" alt="搜车啦 {{ car.title }} 图片"/>
								</li>
								{% endfor %}
						  </ul>
							<h4 class="car-title">{{ car.title }}</h4>
						</div>
						
						<div class="car-description">
							<div class="car-info fl">
								<ul>
									<li>
										<span>{{ car.year }}/{{ car.month }}上牌</span>|
										<span>{{ car.mile }}万公里</span>|
										<span>{{ car.control }}</span>
									</li>
									<li>
										<a href="javascript:;"><i></i>加入对比</a>
									</li>
									<li class="security">
										<span class="security-a">7天退货</span>
										<span class="security-b">保1年2万公里</span>
									</li>
								</ul>
							</div>
							
							<div class="car-price fl f-orange">
								<p class="sell-price">￥<strong>{{ car.price|floatformat:"2" }}</strong>万</p>
								<p class="economize">省：{{ car.save_money }}万</p>
							</div>
							
							<div class="clear"></div>
						</div>
					</div>
					{% endfor %}
					<div class="clear"></div>

					<!--分页器 begin-->
					{% pagination_for cars %}
					<!--分页器 end-->
				</div>
				
				<div class="clear"></div>
			</div>
		</div>
	</div>

{% endblock %}

{% block ext_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/search_car.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery.flexslider-min.js"></script>
{% endblock %}
