{% if page.has_previous or page.has_next %}
<div class="pagination">
	<ul>
		<li><a class="prev-page {% if page.has_previous %}disable{% endif %}" {% if page.has_previous %}href="?page={{ page.previous_page_number }}{% if querstring %}&{{ querystring }}{% endif %}"  {% endif %}></a></li>
		{% for page_number in page.visible_page_range %}
		<li><a {% if page_number == page.number %}class="active"{% endif %} href="?page={{ page_number }}{% if querstring %}&{{ querystring }}{% endif %}">{{ page_number }}</a></li>
		{% endfor %}
		<li><a class="next-page {% if page.has_next %}disable{% endif %}" {% if page.has_next %}href="?page={{ page.next_page_number }}{% if querstring %}&{{ querystring }}{% endif %}"  {% endif %}></a></li>
		<li class="set-page">到第<input type="text" id="dump-page" />页</li>
		<li><a id="dump-btn" href="javascript:;">GO</a></li>
	</ul>
	
	 <div class="clear"></div>
</div>
{% endif %}
