{% if page.has_previous or page.has_next %}
<div class="pagination">
	{% with num_pages=page.paginator.num_pages %}
	<ul>
		<li><a class="prev-page {% if page.has_previous %}disable{% endif %}" {% if page.has_previous %}href="?page={{ page.previous_page_number }}{% if querstring %}&{{ querystring }}{% endif %}"  {% endif %}></a></li>
		{% for page_number in page.visible_page_range %}
		<li {% if page_number == page.number %}class="current"{% endif %}><a href="?page={{ page_number }}{% if querstring %}&{{ querystring }}{% endif %}">{{ page_number }}</a></li>
		{% endfor %}
		{% if num_pages > page.visible_page_range|length %}
		<li class="ellipsis tac">...</li>
		<li><a href="?page={{ num_pages }}{% if querystring %}&{{ querystring }}{% endif %}">{{ num_pages }}</a></li>
		{% endif %}
		<li><a class="next-page {% if page.has_next %}disable{% endif %}" {% if page.has_next %}href="?page={{ page.next_page_number }}{% if querstring %}&{{ querystring }}{% endif %}"  {% endif %}></a></li>
		<li class="set-page tac">到第<input type="text" id="dump-page" value="{{ page.number }}"/>页</li>
		<li id="dump-btn" onclick="isPageDump()"><a href="javascript:;"><span class="f-white">GO</span></a></li>
		
		<input id="last-page" type="hidden" value="{{ num_pages }}">
	</ul>
	{% endwith %}
	<div class="clear"></div>
</div>

<script type="text/javascript">
	function dumpPage(pageNum) {
		var re = /page/,
			locationUrl = window.location.href,
			dumpUrl;
			
		re.test(locationUrl) ? dumpUrl=locationUrl.split("=")[0]+"="+pageNum : dumpUrl=locationUrl+"?page="+pageNum;
		window.location.href = dumpUrl;
	}
	
	function isPageDump() {
		var lastPageNum = document.getElementById("last-page").value,
			pageNum = document.getElementById("dump-page").value;
		
		lastPageNum = Number(lastPageNum);
		pageNum = Number(pageNum);
		
		pageNum === '' ? alert("页数不能为空！") :
		isNaN(pageNum) ? alert("请输入数字！") :
		pageNum > lastPageNum || pageNum < 0 ? alert("请输入页数\(1~" + lastPageNum +")!") :
		dumpPage(pageNum);
	}

</script>
{% endif %}