<link rel="stylesheet" href="{{ STATIC_URL }}css/suspension_bar.css" />

<div class="suspension-content">
	<div class="suspension-bar">
		<div class="sidebar fl">
			<ul>
				<li class="take-of-qq">
					<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2061355021&site=qq&menu=yes"><i></i>客服</a>
				</li>
				<li id="compare" class="compare">
					<i>PK</i>
					<p>对比</p>
				</li>
			</ul>
		</div>
		
		<div id="sidebar-window" class="sidebar-hide-layer fl">
			<div class="layer-title">
				<div id="right-sidebar-closed" class="closed fr"></div>
			</div>
			<div class="compare-window">
				<iframe src="/car/contrast/preview/" scrolling="no" name="car-compera"></iframe>
			</div>
		</div>
		
		<div class="clear"></div>
	</div>
	
	<div id="go-top" class="go-top fr">
		<i></i>
		TOP
	</div>
	
	<div class="clear"></div>
</div>