@import url(public.css);

.header {
	height:160px;
	border-bottom: 1px solid #ddd;
}

.header .header-content {
	margin: 0 auto;
	width: 1190px;
	height: 100%;
}

.header-content .logo {
	width: 218px;
	padding: 44px 0;
}

.header-content .logo a {
	display: block;
}

.header-content .logo-description {
	margin-top: 10px;
}

.header-content .mid {
	height: 100%;
	width: 760px;
}

.header-content .contact {
	width: 165px;
	height: 100%;
}

.header-content .contact .phone {
	margin-top: 50px;
	font-weight: bold;
}

.wx-weibo {
	width: 96px;
	height: 56px;
}

 .wx-weibo a {
	display: block;
	background: url(../image/souchela1.png) no-repeat;
	width: 32px;
	height: 32px;
	margin: 10px 5px 0 5px;
}

.wx a {
	background-position: -129px -2px;
}

.wx a:hover {
	background-position:-129px -36px;
}

.weibo a {
	background-position: -165px -2px;
}

.weibo a:hover {
	background-position:-165px -36px;
}

.show-wx {
	border: 1px solid #ddd;
	width: 135px;
	position: relative;
	display: none;
	z-index: 999;
}

#header-td-code {
	top: 5px;
	left: -20px;
}

#footer-td-code {
	top:-175px;
	left: -20px;
}

.show-wx img {
	width: 100%;
}

.header-content .mid .mid-content {
	margin: 0 auto;
	width: 480px;
	padding-top: 45px;
}

.header-content .mid .search-box .search-key {
	width: 428px;
	height: 41px;
	line-height: 41px;
	border: 2px solid #0A85C1;
	border-right: none;
	display: block;
	font-size: 16px;
	text-indent: 10px;
}

.header-content .mid .search-box .submit {
	border: medium;
	width: 50px;
	height: 45px;
	display: block;
	background-color: #0A85C1;
	background-image: url(../image/souchela1.png);
	background-position: 8px 0;
	cursor: pointer;
}

.header-content .mid .nav {
	height: 45px;
	line-height: 45px;
	margin-top: 25px;
}

.header-content .mid .nav li {
	float: left;
	font-weight: bold;
}

.header-content .mid .nav li a {
	display: inline-block;
	width: 90px;
	text-align: center;
}

.header-content .mid .nav li a:hover {
	color: #0984C0;
	border-bottom: 2px solid #0984C0;
}

.content {
	background: #efefef;
	padding-top: 13px;
	min-width: 1190px;
}

.main {
	width: 1190px;
	margin: 0 auto;
}

.main-info {
	background: #efefef;
	padding: 13px 0 30px 0;
}

.main .status {
	background: #fff;
	height: 46px;
	line-height: 46px;
	padding: 0 10px;
	border: 1px solid #ddd;
}

.footer {
	height: 127px;
	background: #313131;
	text-align: center;
	padding-top: 15px;
	position: absolute;
	width: 100%;
	min-width: 1190px;
}

.footer .footer-content {
	width: 645px;
	height: 116px;
	margin: 0 auto;
}

.footer .footer-content a {
	color: #999;
	margin: 0 8px;
	font-size: 14px;
}

.footer .links-column {
	width: 246px;
	height: 100%;
	padding-top: 5px;
	border-right: 1px solid #999;
	margin-right: 70px;
}

.footer .links-column li {
	float: left;
}

.footer .badge-column {
	width: 328px;
	height: 100%;
}