.pagination {
	margin: 20px auto 0 auto;
	width: 74%;
}

.pagination li {
	width: 32px;
	height: 32px;
	background-color: #fff;
	float: left;
	margin: 0 3px;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.pagination li:hover {
	-webkit-transition:background-color 0.4s linear;
	-moz-transition:background-color 0.4s linear;
	-o-transition:background-color 0.4s linear;
	transition:background-color 0.4s linear;
	background-color: #2FA3D4;
}

.pagination a {
	width: 32px;
	height: 32px;
	line-height: 32px;
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #A5A5A5;
	transition: color .4s ease-in-out;
	font-size: 12px;
	font-weight: bold;
}

.pagination a:hover {
	color: #fff;
}

.pagination .prev-page {
	background-image: url(../image/souchela1.png);
	background-position: -83px -58px;
	margin-top: 8px;
	height: 20px;
	width: 10px;
}

.pagination .prev-page:hover {
	background-position: -83px -41px;;
	margin-top: 4px;
}


.pagination .next-page {
	background: url(../image/souchela1.png);
	background-position: -94px -41px;
	width: 10px;
	height: 20px;
	margin-top: 4px;
}

.pagination .next-page:hover {
	background-position: -94px -58px;
	margin-top: 8px;
}

.pagination .set-page {
	background: none;
	width: 100px;
	line-height: 35px;
	border: none;}

.pagination .set-page:hover {
	background: none;
}

#dump-page {
	position: relative;
	top: -2px;
	width: 50px;
	height: 20px;
	line-height: 20px;
}

#dump-btn {
	background: #2FA3D4;
}

.pagination .current {
	background-color: #2FA3D4;
}

.pagination .current a {
	color: #fff;
}

.pagination .ellipsis,
.pagination .ellipsis:hover {
	background: transparent;
	line-height: 44px;
	border: none;
}