/*reset css*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Microsoft Yahei', sans-serif, arial, 'Hiragino Sans GB';
	vertical-align: baseline;
	background: transparent;
}

table {
	border-collapse: collapse;
	border: medium none;
}

td {
	vertical-align: middle;
}

ul,ol,li{
	list-style:none;
}

a {
	outline: none;
	text-decoration: none;
	border: 0;
    color: #000;
}


input {
	margin: 0;
	padding: 0;
}

.clear { clear:both; visibility:hidden; }
.fl { float:left; }
.fr { float:right; }
.tal { text-align:left; }
.tar { text-align:right; }
.tac { text-align:center; }

.f-orange { color: #EA5F04; }
.f-blue { color: #016699; }
.f-white { color: #fff; }
.f-tangerine { color:#EB6005; }
.f-lake-blue { color: #2FA3D4; }
.f-light-green { color: #20A94D; }
.f-gray { color:#999; }
.f-bright-red { color:#FF3435; }
.f-dark-gray { color: #3C3C3C; }
.f-dark { color: #000 }

.b-lake-blue { background: #2FA3D4; }
.b-light-green { background: #20A94D; }
.b-orange { background: #FF8915; }
