.status {
	color: #3c3c3c;
}

.status h4 {
	line-height: 40px;
	font-weight: normal;
}

.status .filter {
	border-right: 1px solid #b1b1b1;
	margin-top: 10px;
	text-align: center;
}

.sort-btn-ground li {
	float: left;
	border-left: 1px solid #b1b1b1;
	width: 70px;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
}

.sort-btn-ground i {
	display: inline-block;
	width: 12px;
	height: 15px;
	background: url(../image/souchela1.png);
	position: relative;
	top: 2px;
}

.sort-btn-ground .default {
	background-position: -3px -45px;
}

.sort-btn-ground .asc {
	background-position: -16px -45px;
}

.sort-btn-ground .des {
	background-position: -29px -45px;
}

.main-info  input {
	border: 1px solid #ccc;
	text-indent: 10px;
}

.filter-bar {
	width: 222px;
	background: #fff;
	margin-right: 16px;
	padding: 0 10px;
	border: 1px solid #ddd;
	color: #3c3c3c;
}

.car-list {
	width: 928px;
	color: #3c3c3c;
	margin-bottom: 30px;
}

.filter-bar {
	font-size: 12px;
	color: #666666;
}

.filter-bar dl {
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}

.filter-bar dt {
	font-size: 14px;
	line-height: 35px;
	height: 35px;
}

.filter-bar dd {
	line-height: 30px;
	height: 30px;
}

.filter-bar dd span {
	display: inline-block;
	font-size: 12px;
}

.filter-bar .select-brand dd span {
	width: 23%;
}

dd span a {
	color: #666;
}

.filter-bar dl .fr {
	font-size: 14px;
}

.filter-bar dl .symbol {
	color: #999;
}

.filter-bar dl .price {
	width: 30px;
	margin: 0 5px;
}

.range-price li {
	float: left;
}

.range-price .price-btn li {
	height: 7px;
	width: 11%;
	margin-right: 2.5px;
}

.range-price .price-btn li a {
	display: block;
	width: 100%;
	height: 100%;
	background: #ccc;
}

.range-price .price-btn a:hover,
.range-price .price-btn .focus {
	background: #2da3d3;
	cursor: pointer;
}

.range-price .range-describe li {
	width: 6%;
	margin-right: 7.4px;
	font-size: 12px;
	text-align: center;
}


.filter-bar .select-type dd span {
	margin: 0 6px;
}

.select-color li {
	float: left;
	height: 24px;
	width: 7%;
	border-bottom: 2px solid #fff;
}

.select-color li:hover,
.select-color .focus {
	border-bottom: 2px solid #843F17;
}

.select-color a {
	width: 100%;
	height: 16px;
	cursor: pointer;
	display: inline-block;
}

.select-color .ca {
	background: #78386a;
}
.select-color .cb {
	background: #396bb4;
}
.select-color .cc {
	background: #99cb68;
}
.select-color .cd {
	background: #fbdc05;
}
.select-color .ce {
	background: #f27920;
}
.select-color .cf {
	background: #ca2128;
}
.select-color .cg {
	background: #febecc;
}
.select-color .ch {
	background: #724623;
}
.select-color .ci {
	background: #e7d3ae;
}
.select-color .cj {
	background: #fff;
	border-top: 1px solid #E5E5E7;
	border-bottom: 1px solid #E5E5E7;
	height: 14px;
}
.select-color .ck {
	background: #000;
}
.select-color .cl {
	background: #888687;
}
.select-color .cm {
	background: #eeedeb;
}


.plate-time input {
	width: 101px;
	height: 25px;
}

.mile input,
.control input {
	width: 218px;
	height: 25px;
}

.filter-bar .control {
	border: none;
}

.car-list .car-bar {
	width: 454px;
	height: 458px;
	float: left;
	border: 1px solid #ccc;
	margin-bottom: 16px;
	background: #fff;
}

.car-list .car-bar input {
	position: relative;
	top: 3px;
}

.car-list .car-bar .car-img {
	height: 340px;
	overflow: hidden;
}

.car-list .car-bar .car-img li {
	height: 340px;
	overflow: hidden;
}

.car-list .car-bar .car-img img {
	width: 100%;
	height: 100%;
	margin-top: -21px;
}

.car-list .car-bar .car-img h4 {
	position: absolute;
	margin-top: 295px;
	z-index: 9;
	text-align: center;
	width: 100%;
	font-weight: 100;
}

.car-list .car-bar .car-img h4 a {
	color: #FFF;
}

.car-list .car-bar .car-info {
	font-size: 14px;
	width: 289px;
	margin-left: 15px;
}

.car-list .car-bar .car-info span {
	margin: 0 5px;
}

.car-list .split {
	margin-right: 16px;
}

.car-list .car-bar .car-info a {
	color: #3c3c3c;
}

.car-list .car-bar .car-info i {
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #999;
	position: relative;
	top: 1px;
	margin: 0 5px;
}

.car-list .car-bar .car-info li {
	margin: 16px 0;
}

.car-list .car-bar .car-info .security span {
	color: #fff;
	padding: 1px 8px;
}

.car-list .car-bar .car-info .security-a {
	background: #2fa3d4;
}
.car-list .car-bar .car-info .security-b {
	background: #fe7879;
}

.car-list .car-bar .car-price {
	width: 134px;
	height: 82px;
	padding-top: 30px;
	padding-left: 15px;
}

.car-list .car-bar .sell-price {
	font-size: 18px;
}

.car-list .car-bar .sell-price strong {
	font-size: 30px;
	margin:  0 2px;
}

.car-list .car-bar .economize {
	font-size: 14px;
}

.list-box {
	position: absolute;
	background: #fff;
	border: 1px solid #ccc;
	border-top: none;
	text-indent: 10px;
	display: none;
	height: 100px;
	overflow: auto;
	z-index: 3;
}

.filter-bar  i {
	width:15px;
	height: 20px;
	display: inline-block;
	background: url(../image/souchela1.png);
	position: absolute;
	margin-left: -20px;
	margin-top: 5px;
	background-position: -55px -44px;
}

.brand-list {
	width: 714px;
	height: 408px;
	position: relative;
	background: #fff;
	overflow: auto;
	top: -788px;
	left: 232px;
	border: 1px solid #006599;
	padding-left: 20px;
	display: none;
	z-index: 10;
}

.brand-list dd {
	margin: 0 10px;
	display: inline-block;
	font-size: 12px;
}

.brand-list dt {
	display: inline-block;
	color: #006898;
}

.brand-list dd a {
	color: #676767
}
.brand-list dd a:hover {
	color: #006599;
}

.brand-list dl {
	border-bottom: none;
	padding-bottom:0;
}

.select-brand-list {
	position: relative;
	margin-left: -10px;
	padding-left: 10px;
	width: 230px;
	z-index: 2;
}

.select-brand-list-focus {
	border: 1px solid #006599;
	border-right: 1px solid #fff;
	position: relative;
	margin-left: -10px;
	padding-left: 10px;
	width: 231px;
	z-index: 12;
	background: #fff;
}

.slug-list dl{
	position: absolute;
	border: 1px solid #DDD;
	background: #FFF;
	max-height: 300px;
	overflow: auto;
	width: 500px;
	z-index: 10;
	padding: 0 10px;
	display: none;
}

.slug-list dt {
	color: #000;
	float: none;
	clear: both;
	border-top: 1px solid #ddd;
}

.slug-list dd {
	float: left;
	width: 160px;
	text-indent: 10px;
	overflow: hidden;
	font-size: 14px;
}

.slug-list dd a,
.list-box a {
    color: #666666;
    display: block;
    font-size: 12px;
    overflow: hidden;
}

.slug-list dd a:hover {
	color: #2FA3D4;
}

.list-box a:hover {
	background: #006599;
	color: #fff;	
}

.filter-price .input-price {
	position: absolute;
	z-index: 6;
	margin-left: -125px;
}

.filter-price .input-price-bg {
	position: absolute;
	width: 135px;
	height: 55px;
	background: #fff;
	border: 1px solid #006599;
	z-index: 3;
	margin-left: -125px;
	margin-top: -20px;
	display: none;
}

.filter-price .input-price-bg p {
	font-size: 12px;
	position: relative;
	top: -8px;
	left: 9px;
}

.filter-price .input-price-bg .submit {
	width: 36px;
	height: 18px;
	position: relative;
	text-indent: 0;
	left: 96px;
	top: -7px;
	background: #006599;
	border: none;
	color: #fff;
	cursor: pointer;
}

#select-slug  {
	width: 220px;
	height: 25px;
}

.select-slug  i {
	margin-top: 8px;
}

.filter-bar input {
	background-color: #FFFFFF;
	color: #AAAAAA;
	cursor: pointer;
	font-size: 12px;
}


.flex-control-nav {
	display: none;
}

.car-description {
	margin-top: -62px;
	font-weight: normal;
}

.flexslider {
	box-shadow:none;
	border:none;
}

.filter-field-bar {
	width: 100%;
	height: 58px;
	background: url(../image/search_car_fix.png) repeat-x;
	position: fixed;
	top: 0;
	z-index: 99;
	display: none;
}

.filter-field-bar .f-content {
	width: 1190px;
	height: 90%;
	line-height: 50px;
	margin: 0 auto;
}

.filter-field-bar .filter-field,
.filter-field {
	width: 950px;
	height: 100%;
	font-size: 14px;
}

.filter-field-bar .filter-field dt,
.filter-field-bar .filter-field dd,
.filter-field dt ,
.filter-field dd {
	float: left;
}

.filter-field-bar .filter-field dd,
.filter-field dd {
	margin-right: 20px;
}

.filter-field-bar .filter-field dt
.filter-field dt {
	margin-left: 10px;
}

.filter-field a {
	display: block;
	border: 1px solid #d9d9d9;
	color: #666666;
	height: 25px;
	margin-top: 13px;
	line-height: 25px;
	background: #f9f9f9;
	padding: 0 5px;
}

.filter-field a:hover {
	border: 1px solid #2DA3D3;
}

.filter-field-bar .filter-field span,
.filter-field span {
	display: block;
	float: left;
}

.filter-field-bar .filter-field .closed,
.filter-field .closed {
	height: 100%;
	width: 20px;
	background: url(../image/souchela1.png) scroll -105px -40px;
}

.filter-field-bar .filter-field .label,
.filter-field .label {
	padding: 0 5px;
}

.filter-field-bar .sort-btn-ground {
	height: 100%;
	width: 213px;
}

.filter-field-bar .sort-btn-ground ul {
	margin-top: 14px;
	text-align: center;
}

a:hover {
	color: #2FA3D4;
}

.focus {
	color: #2FA3D4;
}

.status .filter-field {
	width: 850px;
	line-height: 45px;
	
}

.status .filter-field a {
	margin-top: 10px;
}