.suspension-content {
	position: fixed;
	top: 30%;
	right: 0;
	height: 348px;
	z-index: 999;
}

.suspension-content .sidebar {
	background: #F9F9F9;
}

.suspension-content .go-top,
.suspension-content .sidebar li {
	width: 48px;
	border-bottom: 1px solid #E5E5E5;
	cursor: pointer;
	text-align: center;
}

.suspension-content .go-top {
	height: 40px;
	background: #313131;
	color: #fff;
}

.suspension-content .sidebar ul {
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
}

.suspension-content .sidebar li {
	height: 54px;
	background: #FAF8F9;
	padding-top: 10px;
}

.suspension-content .sidebar li:hover {
	transition: all .5s ease-in-out;
	color: #30A2D6;
	background: #FFF;
}

.suspension-content .go-top {
	border-left: 1px solid #E5E5E5;
	color: #fff;
	display: none;
}

.suspension-content .sidebar-hide-layer {
	width: 849px;
	height: 308px;
	background: #fff;
	border-bottom: 1px solid #E5E5E5;
	display: none;
}

.suspension-content .sidebar-hide-layer .layer-title {
	height: 36px;
	background: #2FA3D4;
	line-height: 36px;
	width: 900px;
	position: relative;
	top: -36px;
	right: 50px;
}

.suspension-content .sidebar-hide-layer .layer-title h4 {
	margin-left: 15px;
}

.suspension-content .sidebar-hide-layer iframe {
	height: 274px;
	width: 849px;
	border: 0;
}

.suspension-content .go-top i,
.suspension-content .take-of-qq i,
.suspension-content .sidebar-hide-layer .closed {
	background: url(../image/suspensionbar_ico.png) no-repeat;
}

.suspension-content .sidebar-hide-layer .closed {
	width: 13px;
	height: 13px;
	margin: 14px;
	cursor: pointer;
	background-position: -69px -4px;
}

.suspension-content .sidebar-hide-layer .closed:hover {
	transition: all 1s ease-in-out;
	transform: rotate(360deg);
}

.suspension-content .go-top i,
.suspension-content .sidebar i {
	display: block;
	margin: 0 auto;
	font-style: normal;
}

.suspension-content .go-top i {
	height: 8px;
	width: 12px;
	background-position: -69px -25px;
	margin-bottom: 2px;
	margin-top: 6px;
}

.suspension-content .sidebar i {
	height: 15px;
	width:20px;
	margin-bottom: 10px;
}

.suspension-content .take-of-qq i {
	height: 24px;
	background-position: -88px -1px;
}

.compare-window {
	position: relative;
	top: -24px;
}

#suspension-bar .blank-leaving {
	height: 167px;
	display: none;
}


.suspension-content .sidebar li {
	border-right: 1px solid #E5E5E5;
}